<footer>
  <div class="footer-content">
    <p class="footer-thanks">Thank you for exploring✌️</p>
    <ul id="navigation">
      <li><a href="index.html" class="footer-btn">
        <ion-icon name="home-outline"></ion-icon> Home
      </a></li>
      <li>
        <!-- add a class so we can animate just this one -->
        <a href="#top" class="footer-btn return-top">
          <ion-icon name="arrow-up-circle-outline"></ion-icon> Return to Top
        </a>
      </li>
    </ul>
  </div>
</footer>
